p{
 height:100%;
}
ul{
 background-color:yellow;
}
table{
 width:100%;
 background-color:orange;
 height:100%;
 border-collapse: collapse;
}
#r1{
 align:center;
 background-color:red;
}
body{
	margin:0px;
	padding:0px;
}
#r2{
	background-color:yellow;
}
